<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <appSettings>
            <add key="PORT" value="443" />
            <add key="PRO_DB_HOST" value="EDCS-DB-VP30" />
            <add key="PRO_DB_PORT" value="1433" />
            <add key="PRO_DB_USERNAME" value="sa" />
            <add key="PRO_DB_PASSWORD" value="edcs@123" />
            <add key="PRO_DB_DATABASE" value="waterShedPro" />
            <add key="HASHING512" value="sha512" />
            <add key="HASHING256" value="sha256" />
            <add key="HASHINGSHA1" value="sha1" />
            <add key="SMS_API_SERVICE_KEY" value="5c39cb69-8dbb-4c01-bc2c-cbf44a99de72" />
            <add key="SMS_SENDER_ID" value="MOBKAR" />
            <add key="SMS_USERNAME" value="Mobile_1-MOBKAR9" />
            <add key="SMS_PASSWORD" value="mobkar9@1234" />
            <add key="TEMPLATE_ID" value="1107160499737707035" />
            <add key="TEMPLATE_ID_UNICODE" value="1107167998591733125" />
            <add key="TEMPLATE_ID_FOR_DELIVER" value="1107169468548063830" />
            <add key="TEMPLATE_ID_KANNADA" value="1107169649010651385" />
            <add key="SMS_API" value="http://65.2.76.193/index.php/sendmsg" />
  </appSettings>

<system.webServer>

    <iisnode 
      loggingEnabled="true" 
      devErrorsEnabled="true" 
    />

<httpErrors errorMode="Detailed" />

<handlers>
  <add name="iisnode" path="dist/index.js" verb="*" modules="iisnode" />
</handlers>

<rewrite>
  <rules>
    <rule name="nodejs">
      <match url="(.*)" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
      </conditions>
      <action type="Rewrite" url="dist/index.js" />
    </rule>
  </rules>
</rewrite> 

<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>

     <verbs>
      <add verb="GET" allowed="true" />
      <add verb="POST" allowed="true" />
    </verbs>
                
    <!-- Block specific file types -->
    <fileExtensions>
        <add fileExtension=".exe" allowed="false" />
        <add fileExtension=".dll" allowed="false" />
        <add fileExtension=".bat" allowed="false" />
    </fileExtensions>
  </requestFiltering>
</security>
 <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Expires" value="0"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-Powered-By"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
</system.webServer>
 </configuration>
