* {
    font-family: Poppins, "Open Sans", Epilogue, sans-serif;
}
#headerContainer {
    font-size: 20px;
    color: hsla(244, 100%, 15%, 1);
    font-weight: 600;
}
#subTitle {
    color: rgb(115, 119, 145);
    font-size: 16px;
    font-weight: 400;
}
#container {
    box-shadow: 0px 4px 20px 0px hsla(0, 0%, 93%, 0.5);
    background-color: rgb(255, 255, 255);
    color: rgb(15, 54, 89);
    border-radius: 20px;
    height: 348px
}
#childContainer {
    border-radius: 16px;
    height: 184px;
}

/* surveycountscard */
#SCCardTitle {
    font-size: 24px;
}
#SCCardPercent {
    color: #4079ED;
    font-size: 12px;
    font-weight: 500;
}